@import url("https://fonts.googleapis.com/css?family=Titillium+Web");
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px); }
  to {
    opacity: 1;
    transform: translateX(0px); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 105%; }

body {
  box-sizing: border-box;
  overflow: hidden; }

a {
  text-decoration: none;
  color: #2196F3; }

body {
  font-family: 'Titillium Web', sans-serif;
  line-height: 1.7;
  color: #131212; }

h1,
.display-1 {
  font-size: 2.7rem; }

h2,
.display-2 {
  font-size: 2.3rem; }

h3,
.display-3 {
  font-size: 2.1rem; }

h4,
.display-4 {
  font-size: 1.8rem; }

h5,
.display-5 {
  font-size: 1.5rem; }

h6,
.display-6 {
  font-size: 1.3rem; }

p,
.paragraph {
  font-size: 1.2rem; }

.f-left {
  float: left; }

.f-right {
  float: right; }

.container-full {
  width: 100%;
  padding: 0 .4rem; }

.container {
  margin: 0 auto;
  width: 70%;
  padding: 0 .4rem;
  transition: all .8s; }
  @media (max-width: 56.25em) {
    .container {
      width: 100%; } }

.appbar-blue {
  background-color: #1976D2; }

.card {
  width: 100%;
  border-radius: .3rem;
  background-color: #ffffff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.17);
  margin-bottom: 1rem; }
  .card-header {
    height: 3.5rem;
    padding: .8rem .3rem 0 .3rem;
    margin: 0 .3rem;
    overflow: hidden;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    border-bottom: 0.1rem solid #d8d6d6;
    font-size: 1.4rem;
    font-weight: 500; }
  .card-body {
    padding: .6rem;
    line-height: 1.4rem; }

.card-animate {
  position: relative;
  perspective: 150rem;
  -webkit-perspective: 100rem;
  margin-bottom: .6rem; }
  .card-animate-x {
    width: 100%;
    height: inherit;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transition: all .8s ease;
    border-radius: .3rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.17); }
    .card-animate-x-back {
      transform: rotateY(180deg); }
  .card-animate:hover .card-animate-x-front {
    transform: rotateY(-180deg); }
  .card-animate:hover .card-animate-x-back {
    transform: rotateY(0); }

.card-animate {
  position: relative;
  perspective: 150rem;
  -webkit-perspective: 100rem;
  margin-bottom: .6rem; }
  .card-animate-y {
    width: 100%;
    height: inherit;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transition: all .8s ease;
    border-radius: .3rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.17); }
    .card-animate-y-back {
      transform: rotateX(180deg); }
  .card-animate:hover .card-animate-y-front {
    transform: rotateX(-180deg); }
  .card-animate:hover .card-animate-y-back {
    transform: rotateY(0); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 3rem; }
  .row::after {
    content: "";
    clear: both;
    display: table; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 2rem; }
  .row .col-2 {
    width: calc((100% - 2rem) / 2); }
    .row .col-2-md {
      width: calc((100% - 2rem) / 2); }
      @media (max-width: 56.25em) {
        .row .col-2-md {
          width: 100% !important; } }
    .row .col-2-sm {
      width: calc((100% - 2rem) / 2); }
      @media (max-width: 37.5em) {
        .row .col-2-sm {
          width: 100% !important; } }
  .row .col-3 {
    width: calc((100% - 2 * 2rem) / 3); }
    .row .col-3-md {
      width: calc((100% - 2 * 2rem) / 3); }
      @media (max-width: 56.25em) {
        .row .col-3-md {
          width: 100% !important; } }
    .row .col-3-sm {
      width: calc((100% - 2 * 2rem) / 3); }
      @media (max-width: 37.5em) {
        .row .col-3-sm {
          width: 100% !important; } }
  .row .col-4 {
    width: calc((100% - 3 * 2rem) / 4); }
    .row .col-4-md {
      width: calc((100% - 3 * 2rem) / 4); }
      @media (max-width: 56.25em) {
        .row .col-4-md {
          width: 100% !important; } }
    .row .col-4-sm {
      width: calc((100% - 3 * 2rem) / 4); }
      @media (max-width: 37.5em) {
        .row .col-4-sm {
          width: 100% !important; } }
  .row .col-2-3 {
    width: calc(2 * ((100% - 2 * 2rem) / 3) + 2rem); }
    .row .col-2-3-md {
      width: calc(2 * ((100% - 2 * 2rem) / 3) + 2rem); }
      @media (max-width: 56.25em) {
        .row .col-2-3-md {
          width: 100% !important; } }
    .row .col-2-3-sm {
      width: calc(2 * ((100% - 2 * 2rem) / 3) + 2rem); }
      @media (max-width: 37.5em) {
        .row .col-2-3-sm {
          width: 100% !important; } }
  .row .col-2-4 {
    width: calc(2 * ((100% - 3 * 2rem) / 4) + 2rem); }
    .row .col-2-4-md {
      width: calc(2 * ((100% - 3 * 2rem) / 4) + 2rem); }
      @media (max-width: 56.25em) {
        .row .col-2-4-md {
          width: 100% !important; } }
    .row .col-2-4-sm {
      width: calc(2 * ((100% - 3 * 2rem) / 4) + 2rem); }
      @media (max-width: 37.5em) {
        .row .col-2-4-sm {
          width: 100% !important; } }
  .row .col-3-4 {
    width: calc(3 * ((100% - 3 * 2rem) / 4) + 2 * 2rem); }
    .row .col-3-4-md {
      width: calc(3 * ((100% - 3 * 2rem) / 4) + 2 * 2rem); }
      @media (max-width: 56.25em) {
        .row .col-3-4-md {
          width: 100% !important; } }
    .row .col-3-4-sm {
      width: calc(3 * ((100% - 3 * 2rem) / 4) + 2 * 2rem); }
      @media (max-width: 37.5em) {
        .row .col-3-4-sm {
          width: 100% !important; } }

.appbar,
.appbar-nav,
.appbar-md,
.appbar-sm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  background-color: #2196F3; }
  .appbar-logo,
  .appbar-nav-logo,
  .appbar-md-logo,
  .appbar-sm-logo {
    color: inherit;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    display: inline-block; }
  .appbar-list,
  .appbar-nav-list,
  .appbar-md-list,
  .appbar-sm-list {
    display: flex;
    justify-content: space-around;
    width: 45%;
    transition: all 0.8s; }
  .appbar-item,
  .appbar-nav-item,
  .appbar-md-item,
  .appbar-sm-item {
    list-style: none; }
  .appbar-link,
  .appbar-nav-link,
  .appbar-md-link,
  .appbar-sm-link {
    color: inherit;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px; }
  .appbar-burger,
  .appbar-nav-burger,
  .appbar-md-burger,
  .appbar-sm-burger {
    display: none;
    transform: translateX(50rem);
    transition: all 0.8s; }
    .appbar-burger div,
    .appbar-nav-burger div,
    .appbar-md-burger div,
    .appbar-sm-burger div {
      width: 25px;
      height: 3px;
      margin: 5px;
      background-color: #e7e5e5;
      transition: all 0.5s; }
  @media (max-width: 56.25em) {
    .appbar-md .appbar-list,
    .appbar-nav-md .appbar-list,
    .appbar-md-md .appbar-list,
    .appbar-sm-md .appbar-list {
      position: absolute;
      right: 0;
      height: 92vh;
      top: 8vh;
      background: inherit;
      display: block;
      text-align: center;
      padding-top: 1.5rem;
      font-size: 2rem;
      width: 50%;
      transform: translateX(100%);
      transition: all 0.5s ease-in; }
    .appbar-md .appbar-item,
    .appbar-nav-md .appbar-item,
    .appbar-md-md .appbar-item,
    .appbar-sm-md .appbar-item {
      opacity: 0; }
    .appbar-md .appbar-burger,
    .appbar-nav-md .appbar-burger,
    .appbar-md-md .appbar-burger,
    .appbar-sm-md .appbar-burger {
      transform: translateX(0);
      display: block; }
    .appbar-md .appbar-list-active,
    .appbar-nav-md .appbar-list-active,
    .appbar-md-md .appbar-list-active,
    .appbar-sm-md .appbar-list-active {
      transform: translateX(0); } }
  @media (max-width: 37.5em) {
    .appbar-sm .appbar-list,
    .appbar-nav-sm .appbar-list,
    .appbar-md-sm .appbar-list,
    .appbar-sm-sm .appbar-list {
      position: absolute;
      right: 0;
      height: 92vh;
      top: 8vh;
      background: inherit;
      display: block;
      text-align: center;
      padding-top: 1.5rem;
      font-size: 2rem;
      width: 50%;
      transform: translateX(100%);
      transition: all 0.5s ease-in; }
    .appbar-sm .appbar-item,
    .appbar-nav-sm .appbar-item,
    .appbar-md-sm .appbar-item,
    .appbar-sm-sm .appbar-item {
      opacity: 0; }
    .appbar-sm .appbar-burger,
    .appbar-nav-sm .appbar-burger,
    .appbar-md-sm .appbar-burger,
    .appbar-sm-sm .appbar-burger {
      transform: translateX(0);
      display: block; }
    .appbar-sm .appbar-list-active,
    .appbar-nav-sm .appbar-list-active,
    .appbar-md-sm .appbar-list-active,
    .appbar-sm-sm .appbar-list-active {
      transform: translateX(0); } }

.toggle .appbar-burger-line1 {
  transform: rotate(-45deg) translate(-5px, 6px); }

.toggle .appbar-burger-line2 {
  opacity: 0; }

.toggle .appbar-burger-line3 {
  transform: rotate(45deg) translate(-5px, -6px); }
