@import url("https://fonts.googleapis.com/css?family=Titillium+Web");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 105%; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Titillium Web', sans-serif;
  line-height: 1.7;
  color: #131212; }

h1,
.display-1 {
  font-size: 2.7rem; }

h2,
.display-2 {
  font-size: 2.3rem; }

h3,
.display-3 {
  font-size: 2.1rem; }

h4,
.display-4 {
  font-size: 1.8rem; }

h5,
.display-5 {
  font-size: 1.5rem; }

h6,
.display-6 {
  font-size: 1.3rem; }

p,
.paragraph {
  font-size: 1.2rem; }

.card {
  width: 100%;
  border-radius: .3rem;
  background-color: #ffffff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.17);
  margin-bottom: 1rem; }
  .card-header {
    height: 3.5rem;
    padding: .8rem .3rem 0 .3rem;
    margin: 0 .3rem;
    overflow: hidden;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    border-bottom: 0.1rem solid #d8d6d6;
    font-size: 1.4rem;
    font-weight: 500; }
  .card-body {
    padding: .6rem;
    line-height: 1.4rem; }

.card-animate {
  position: relative;
  perspective: 150rem;
  -webkit-perspective: 100rem;
  margin-bottom: .6rem; }
  .card-animate-x {
    width: 100%;
    height: inherit;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transition: all .8s ease;
    border-radius: .3rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.17); }
    .card-animate-x-back {
      transform: rotateY(180deg); }
  .card-animate:hover .card-animate-x-front {
    transform: rotateY(-180deg); }
  .card-animate:hover .card-animate-x-back {
    transform: rotateY(0); }

.card-animate {
  position: relative;
  perspective: 150rem;
  -webkit-perspective: 100rem;
  margin-bottom: .6rem; }
  .card-animate-y {
    width: 100%;
    height: inherit;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transition: all .8s ease;
    border-radius: .3rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.17); }
    .card-animate-y-back {
      transform: rotateX(180deg); }
  .card-animate:hover .card-animate-y-front {
    transform: rotateX(-180deg); }
  .card-animate:hover .card-animate-y-back {
    transform: rotateY(0); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 3rem; }
  .row::after {
    content: "";
    clear: both;
    display: table; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 2rem; }
  .row .col-2 {
    width: calc((100% - 2rem) / 2); }
    .row .col-2-md {
      width: calc((100% - 2rem) / 2); }
      @media (max-width: 56.25em) {
        .row .col-2-md {
          width: 100% !important; } }
    .row .col-2-sm {
      width: calc((100% - 2rem) / 2); }
      @media (max-width: 37.5em) {
        .row .col-2-sm {
          width: 100% !important; } }
  .row .col-3 {
    width: calc((100% - 2 * 2rem) / 3); }
    .row .col-3-md {
      width: calc((100% - 2 * 2rem) / 3); }
      @media (max-width: 56.25em) {
        .row .col-3-md {
          width: 100% !important; } }
    .row .col-3-sm {
      width: calc((100% - 2 * 2rem) / 3); }
      @media (max-width: 37.5em) {
        .row .col-3-sm {
          width: 100% !important; } }
  .row .col-4 {
    width: calc((100% - 3 * 2rem) / 4); }
    .row .col-4-md {
      width: calc((100% - 3 * 2rem) / 4); }
      @media (max-width: 56.25em) {
        .row .col-4-md {
          width: 100% !important; } }
    .row .col-4-sm {
      width: calc((100% - 3 * 2rem) / 4); }
      @media (max-width: 37.5em) {
        .row .col-4-sm {
          width: 100% !important; } }
  .row .col-2-3 {
    width: calc(2 * ((100% - 2 * 2rem) / 3) + 2rem); }
    .row .col-2-3-md {
      width: calc(2 * ((100% - 2 * 2rem) / 3) + 2rem); }
      @media (max-width: 56.25em) {
        .row .col-2-3-md {
          width: 100% !important; } }
    .row .col-2-3-sm {
      width: calc(2 * ((100% - 2 * 2rem) / 3) + 2rem); }
      @media (max-width: 37.5em) {
        .row .col-2-3-sm {
          width: 100% !important; } }
  .row .col-2-4 {
    width: calc(2 * ((100% - 3 * 2rem) / 4) + 2rem); }
    .row .col-2-4-md {
      width: calc(2 * ((100% - 3 * 2rem) / 4) + 2rem); }
      @media (max-width: 56.25em) {
        .row .col-2-4-md {
          width: 100% !important; } }
    .row .col-2-4-sm {
      width: calc(2 * ((100% - 3 * 2rem) / 4) + 2rem); }
      @media (max-width: 37.5em) {
        .row .col-2-4-sm {
          width: 100% !important; } }
  .row .col-3-4 {
    width: calc(3 * ((100% - 3 * 2rem) / 4) + 2 * 2rem); }
    .row .col-3-4-md {
      width: calc(3 * ((100% - 3 * 2rem) / 4) + 2 * 2rem); }
      @media (max-width: 56.25em) {
        .row .col-3-4-md {
          width: 100% !important; } }
    .row .col-3-4-sm {
      width: calc(3 * ((100% - 3 * 2rem) / 4) + 2 * 2rem); }
      @media (max-width: 37.5em) {
        .row .col-3-4-sm {
          width: 100% !important; } }
