.appbar {
  background: linear-gradient(#cc4e4e, #3a3ccf);
}

.bottomappbar {
  background: linear-gradient(#cc4e4e, #3a3ccf);
  color: aliceblue;
}

.card-animate {
  height: 20rem;
  /* margin-top: 9vh; */
}

.card-animate-y-front {
  background-color: aqua;
}

.card-animate-y-back {
  background-color: blueviolet;
}

.card-animate-x-front {
  background-color: aqua;
}

.card-animate-x-back {
  background-color: blueviolet;
}

.btn {
  color: aliceblue;
  background-color: tomato;
}

.btn:hover {
  background-color: aqua;
}

.btn-outline {
  border-color: teal;
  color: teal;
}

.btn-outline:hover {
  border-color: rgb(151, 16, 61);
  color: rgb(207, 24, 85);
}

.container {
  background-color: aqua;
  height: 500px;
  padding: 20px;
}