// colors
$color-white: #ffffff;
$color-black: #000;
$color-black-2: #131212;
$color-grey: #d8d6d6;
$color-blue: #2196F3;
$color-blue-2: #1976D2;

// FONT
$default-font-size: 1.6rem;
$font-size-2: 2rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 3rem;
$gutter-horizontal: 2rem;