// colors
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-tetiary-light: #2998ff;
$color-tetiary-dark: #5643fa;
$color-grey-light-1: #e6e4e4;
$color-grey-light-2: #eee;
$color-grey-light-3: #b8b6b6;
$color-grey-dark: #777777;
$color-grey-background: #e5ecee;
$color-white: #ffffff;
$color-black: #000;
$color-black-2: #161616;

// FONT
$default-font-size: 1.6rem;
$font-size-2: 2rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 3rem;
$gutter-horizontal: 2rem;