// colors
$color-white: #ffffff;
$color-black: #000;
$color-black-2: #131212;
$color-grey-light: #f3f7f7;
$color-grey-light-2: #f7f5f5;
$color-grey: #d8d6d6;
$color-grey-2: #999;
$color-grey-3: #6d6b6b;
$color-blue: #2196F3;
$color-blue-2: #1976D2;
$color-red: #F44336;
$color-green: #8BC34A;
$color-pink: #eb2f64;
$color-pink-light: #FF3366;
$color-pink-dark: #BA265D;

// FONT
$default-font-size: 1.6rem;
$font-size-2: 2rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 3rem;
$gutter-horizontal: 2rem;