// Appbar Item Animation
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

// Carousel Fade
@keyframes fadeNslide {
  from {
    opacity: .4;
    transform: translateX(2rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

// General Animation
@keyframes fromLeft {
  from {
    transform: translateX(-10rem);
    opacity: 0;
  }

  to {
    transform: translateX(0rem);
    opacity: 1;
  }
}

@keyframes fromRight {
  from {
    transform: translateX(10rem);
    opacity: 0;
  }

  to {
    transform: translateX(0rem);
    opacity: 1;
  }
}

@keyframes fromUp {
  from {
    transform: translateY(-10rem);
    opacity: 0;
  }

  to {
    transform: translateY(0rem);
    opacity: 1;
  }
}

@keyframes fromDown {
  from {
    transform: translateY(10rem);
    opacity: 0;
  }

  to {
    transform: translateY(0rem);
    opacity: 1;
  }
}

@keyframes bounceFromLeft {
  0% {
    transform: translateX(-10rem) translateY(-5rem);
    opacity: 0;
  }

  20% {
    transform: translateX(-8rem) translateY(0rem);
  }

  40% {
    transform: translateX(-6rem) translateY(-5rem);
  }

  60% {
    transform: translateX(-4rem) translateY(0rem);
  }

  80% {
    transform: translateX(-2rem) translateY(-5rem);
  }

  100% {
    transform: translateX(0rem) translateY(0rem);
    opacity: 1;
  }
}

@keyframes bounceFromRight {
  0% {
    transform: translateX(10rem) translateY(-5rem);
    opacity: 0;
  }

  20% {
    transform: translateX(8rem) translateY(0rem);
  }

  40% {
    transform: translateX(6rem) translateY(-5rem);
  }

  60% {
    transform: translateX(4rem) translateY(0rem);
  }

  80% {
    transform: translateX(2rem) translateY(-5rem);
  }

  100% {
    transform: translateX(0rem) translateY(0rem);
    opacity: 1;
  }
}