.container-full {
  width: 100%;
  min-height: 100%;
}

.container {
  margin: 0 auto;
  width: 70%;
  transition: width 0.8s;

  @include responsive(tab-port) {
    width: 100%;
    padding: 0 5px;
  }
}
